main {
    margin-top: 3rem;
    height: 75vh;
}
.alert.alert-danger {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.alert.alert-danger.fade-in {
    opacity: 1;
}

.table-container {
    max-height: calc(100vh - 300px); /* Adjust the value as needed */
    overflow-y: auto;
}

.footer {
    background-color: #f8f9fa; /* Add your desired background color */
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
